

<!-- ^ Not really sure what this is doing, ...oh! If the user isn't signed in, as specified by the application controller, and if that is true that they aren't signed in, then I give them the link to sign in. -->

<h2><%= link_to post.name, post %></h2> <span>written by: <%= post.user %> </span>

<% if !user_signed_in? %>
  <p> <%= link_to "Log in to edit or delete your Post", login_path %> </p>
<% else %>
  <p><%= link_to 'Edit', edit_post_path(post) %></p>
  <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>